package views

templ GoalForm() {
    @Index() {
        <form action="/goal" method="post" hx-post="/goal" hx-push-url="true" hx-target="body">
            <label for="name">Achieve this:</label>
            <input type="text" id="name" name="name"/>
            <label for="deadline">By then:</label>
            <input type="datetime-local" id="deadline" name="endDate" value="2024-10-27T22:45"/>
            <input type="submit" value="Submit"/>
        </form>
    }
}