div
    h1 Achieve your goal
    progress(value="0" max="100") 0%
    p
        label(for="goal") Goal
        span(id="goal") #{goal}
        label(for="time") Time
        span(id="time") #{new Date(datetime).toLocaleString()}

        script.
            const startDate = new Date(#{datetime});