doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LockeIn
        script(src="/static/htmx.min.js")
    body
        div(id="app")
            h1 Locke in your goal
            form(action="/goal" method="post" hx-post="/goal" hx-target="#app")
                label(for="goal") Achieve this
                input(type="text" id="goal" name="goal" placeholder="Enter your goal" required)
                label(for="time") By this time
                input(type="time" id="time" name="time" required)
                button(type="submit") Submit
